@use "../variables" as *;
@use "../mixins";

.header {
  background-color: $color-secondary;
}

.nav-container {
  color: $color-light;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $container-breakpoint-md) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: $container-width;
    width: 90%;
    margin: 0 auto;
  }
}

.nav-title {
  font-size: 1.5rem;
  font-weight: bold;

  &-link {
    text-decoration: none;
    color: $color-light;

    &:hover {
      text-decoration: underline;
    }
  }
}

.nav-list {
  list-style: none;
  margin: 1rem 0;
  display: flex;
  gap: 1rem;

  &-title {
    font-weight: bold;
  }

  @media (min-width: $container-breakpoint-md) {
    gap: 2rem;
  }
}

.nav-link {
  @include mixins.button;
}