@use "../variables" as *;

.main-container {
  max-width: $container-width;
  margin: 0 auto;
}

.hero-container {
  margin: 1.5rem 0;
  text-align: justify;
}

.hero-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-text {
  font-size: 1.2rem;
  line-height: 1.5;
}

.hero-img {
  max-width: 100%;
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &-credit {
    color: $color-dark;
    font-size: 0.8rem;
    text-align: right;
    margin-top: 0.5rem;

    & a {
      color: $color-accent;
    }
  }
}

.card-container {
  background-color: $color-light;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  margin: 2rem auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;

  @media (min-width: $container-breakpoint-lg) {
    flex-direction: row;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $container-breakpoint-lg) {
    max-width: 50%;
  }
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  border-top: 2px solid $color-dark;
  border-bottom: 2px solid $color-dark;
}

.card-text {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;

  & span {
    display: block;
    font-weight: bold;
    text-decoration: underline;
  }
}

.card-btns {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;

  .card-link:hover {
    background-color: transparent;
  }
}

.flexbox-card {
  background-color: $color-primary-subtle;
  padding: 2rem;
  border-radius: 5px;
  border-left: 5px solid $color-primary;
}

.grid-card {
  background-color: $color-success-subtle;
  padding: 2rem;
  border-radius: 5px;
  border-right: 5px solid $color-success;
}

.details-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.details {
  padding: 1.5rem;
  background-color: $color-light;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  &-title {
    font-size: 1.5rem;
    font-weight: bold;

    &-flex {
      color: $color-primary;
    }

    &-grid {
      color: $color-success;
    }
  }

  &-text {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;

    code {
      background-color: $color-dark-subtle;
      padding: 0.2rem;
      border-radius: 4px;
      font-family: monospace;
    }
  }

  &-list {
    list-style-type: disc;
    margin-left: 1.5rem;

    &-title {
      font-weight: bold;
      line-height: 2rem;
      text-decoration: underline;
    }

    &-item {
      margin-bottom: 0.5rem;
      text-align: justify;
    }
  }

  &-note {
    font-size: 0.9rem;
    background-color: $color-dark-subtle;
    padding: 1rem;
    border-radius: 4px;
    margin-top: 1.5rem;
    text-align: justify;

    & p {
      padding: 0.5rem 0;
    }

    & .grid-example-container-1 {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-rows: 50px auto 50px;
      grid-template-areas:
        "header header header"
        "nav main sidebar"
        "footer footer footer";
      height: 500px;
      padding: 10px;
      border: 1px solid $color-dark;
      border-radius: 5px;

      & p {
        height: 100%;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .header {
        grid-area: header;
        background-color: lightblue;
        height: 100%;
      }

      .nav {
        grid-area: nav;
        background-color: lightcoral;
      }

      .main {
        grid-area: main;
        background-color: lightgreen;
      }

      .sidebar {
        grid-area: sidebar;
        background-color: lightpink;
      }

      .footer {
        grid-area: footer;
        background-color: lightskyblue;
      }
    }

    & .grid-example-container-2 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 5px;

      & .child {
        background-color: lightgray;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
      }

      & .child-2 {
        background-color: coral;
        grid-column: 2 / span 2;
        grid-row: 2 / span 2;
      }
    }
  }

  &-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.5rem;

    th,
    td {
      padding: 0.5rem;
      text-align: left;
      border: 1px solid $color-dark-subtle;
    }

    th {
      background-color: $color-dark-subtle;
      font-weight: bold;
    }

    tr:nth-child(even) {
      background-color: $color-secondary-subtle;
    }


    & .details-table-subtitle {
      font-weight: bold;

      &-flex {
        background-color: $color-primary-subtle;
      }

      &-grid {
        background-color: $color-success-subtle;
      }
    }
  }
}