/**
 * Base styles
 */
@use "variables" as *;
@use "mixins";

body {
    background-color: $container-background-color;
}

.main-container {
    width: 90%;
    max-width: $container-width;
    margin: 0 auto;
}

code {
    font-family: monospace;
    font-size: 0.85rem;
    line-height: 1.5rem;
    background-color: $color-dark-subtle;
    padding: 0.2rem;
    border-radius: 4px;
}

.button {
    @include mixins.button;
}

a {
    scroll-behavior: smooth;
}

a[href^="#"]:hover {
    text-decoration: underline;
}

sup>a {
    color: $color-accent;

    &:hover {
        text-decoration: underline;
    }

    &::before {
        content: "#";
    }
}

.divider-dark {
    border: 1px solid $color-dark;
    width: 75%;
    margin: 0 auto;
}